# Solutions of R Exercises

## Exercise 1 Basic Routines
1. Create a vector `r` with integers from 1 to 10
2. Access and display the
    1. first element
    2. the fifth element 
    3. elements at positions 6-9
3. Assume that the elements of vector `r` are radiuses of circles. 
    1. Create a vector `c`, whose elements are the circumferences of circles with radiuses from `r`.
    2. Create a vector `a`, whose elements are the surface areas of circles with radiuses from `r`.
    
   Apply `help()` and `apropos()` in order to find out how to use $\pi$ in R.

In [1]:
(r<-1:10)

 [1]  1  2  3  4  5  6  7  8  9 10

In [2]:
(c<-2*pi*r)

 [1]  6.283185 12.566371 18.849556 25.132741 31.415927 37.699112 43.982297
 [8] 50.265482 56.548668 62.831853

In [11]:
(a<-pi*r**2)

 [1]   3.141593  12.566371  28.274334  50.265482  78.539816 113.097336
 [7] 153.938040 201.061930 254.469005 314.159265

## Exercise 2 Data Types
1. At time $t=0$ a vehicle has speed $v_0$ (in $m/s$). The vehicle's accelaration is $a$ (in $m/s^2$). Then the traveled distance $s$ (in meters) after an arbitrary time $t$ (in seconds) can be calculated as 
$$s=\frac{1}{2}a t^2 +v_0 t.$$ 
In a lab experiment after time $t_1=2s$ the traveled distance is measured to be $s_1=16m$ and after time $t_2=4s$ the traveled distance is measured to be $s_2=44m$. Calculate the vehicle's accelaration $a$ and initial speed $v_0$ by solving the corresponding system of linear equations in R.
2. Assign the constant `letters` to the variable `x` and `letters` in reverse order to the variable `y`. What is the result of `x > y`? Repeat this experiment but now `letters` and the reverse ordering of `letters` shall be represented as *factors*. What is now the result of `x > y`?
3. A company likes to store the following data of it's employees:

    1. ID
    2. Name
    3. Age
    4. Salary
    
   For each employee this data shall be stored in a R - list. Create such lists for 4 arbitrary sample persons and assign all of these lists to another list `employeelist`. 
   
   1. Access and display all data of a single employee.  
   2. Access and display the salary of a single employee.
   3. Define a list for a new person and insert this new list at the third position of the `employeelist`.
   4. Remove the list of an arbitrary person from `employeelist`.

4. Read the [energy data file](./data/EnergyMixGeoClust.csv) into a dataframe `energyData` like in the lecture notebook. 
    1. Determine the number of observations (rows) and features (columns) of this dataframe.
    2. Create a dataframe `energyDataRed`, which contains all data of `energyData`, except the 4 countries with the highest coal-consumption.
    3. Calculate the mean and the median of the coal-consumption for both dataframes `energyData` and `energyDataRed`.
    4. What do you conclude from this experiment regarding the quality of the statistics *mean* and *median*?

Task 1 solution:

In [19]:
(t<-c(2,4))
(s<-c(16,44))

[1] 2 4

[1] 16 44

In [20]:
(S<-matrix(s,nrow=2,ncol=1))

     [,1]
[1,] 16
[2,] 44

In [21]:
(tSer<-c(0.5*t[1]**2,0.5*t[2]**2,t[1],t[2]))

[1] 2 8 2 4

In [22]:
(tMat<-matrix(tSer,nrow=2,ncol=2))

     [,1] [,2]
[1,] 2    2
[2,] 8    4

In [23]:
(av<-solve(tMat,S))

     [,1]
[1,] 3
[2,] 5

The first component of vector av is the accelaration $a=3 m/s^2$, the second component is the initial speed $v_0=5 m/s$

Task 2 solution:

In [3]:
(x<-letters)
print(class(x))
(y<-rev(x))
(x>y)

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j" "k" "l" "m" "n" "o" "p" "q" "r" "s"
[20] "t" "u" "v" "w" "x" "y" "z"

[1] "character"

 [1] "z" "y" "x" "w" "v" "u" "t" "s" "r" "q" "p" "o" "n" "m" "l" "k" "j" "i" "h"
[20] "g" "f" "e" "d" "c" "b" "a"

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[25]  TRUE  TRUE

In [5]:
(xfac<-factor(x))
(yfac<-factor(y))

 [1] a b c d e f g h i j k l m n o p q r s t u v w x y z
Levels: a b c d e f g h i j k l m n o p q r s t u v w x y z

 [1] z y x w v u t s r q p o n m l k j i h g f e d c b a
Levels: a b c d e f g h i j k l m n o p q r s t u v w x y z

In [6]:
xfac>yfac

Warning message in Ops.factor(xfac, yfac):
"'>' not meaningful for factors"

 [1] NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA NA
[26] NA

Task 3 solution:

In [42]:
e1<-list(id=1,name="bob",age=23,salary=45600)
e2<-list(id=2,name="mary",age=29,salary=67800)
e3<-list(id=3,name="tim",age=39,salary=98000)
e4<-list(id=4,name="anne",age=25,salary=31400)
employees<-list(e1,e2,e3,e4)
employees

[[1]]
[[1]]$id
[1] 1

[[1]]$name
[1] "bob"

[[1]]$age
[1] 23

[[1]]$salary
[1] 45600


[[2]]
[[2]]$id
[1] 2

[[2]]$name
[1] "mary"

[[2]]$age
[1] 29

[[2]]$salary
[1] 67800


[[3]]
[[3]]$id
[1] 3

[[3]]$name
[1] "tim"

[[3]]$age
[1] 39

[[3]]$salary
[1] 98000


[[4]]
[[4]]$id
[1] 4

[[4]]$name
[1] "anne"

[[4]]$age
[1] 25

[[4]]$salary
[1] 31400

In [43]:
#employees[[3]]
e5<-list(id=5,name="ian",age=45,salary=110000)
employees<-append(employees,list(e5),2)
employees

[[1]]
[[1]]$id
[1] 1

[[1]]$name
[1] "bob"

[[1]]$age
[1] 23

[[1]]$salary
[1] 45600


[[2]]
[[2]]$id
[1] 2

[[2]]$name
[1] "mary"

[[2]]$age
[1] 29

[[2]]$salary
[1] 67800


[[3]]
[[3]]$id
[1] 5

[[3]]$name
[1] "ian"

[[3]]$age
[1] 45

[[3]]$salary
[1] 110000


[[4]]
[[4]]$id
[1] 3

[[4]]$name
[1] "tim"

[[4]]$age
[1] 39

[[4]]$salary
[1] 98000


[[5]]
[[5]]$id
[1] 4

[[5]]$name
[1] "anne"

[[5]]$age
[1] 25

[[5]]$salary
[1] 31400

In [44]:
employees[[5]]<-NULL
employees

[[1]]
[[1]]$id
[1] 1

[[1]]$name
[1] "bob"

[[1]]$age
[1] 23

[[1]]$salary
[1] 45600


[[2]]
[[2]]$id
[1] 2

[[2]]$name
[1] "mary"

[[2]]$age
[1] 29

[[2]]$salary
[1] 67800


[[3]]
[[3]]$id
[1] 5

[[3]]$name
[1] "ian"

[[3]]$age
[1] 45

[[3]]$salary
[1] 110000


[[4]]
[[4]]$id
[1] 3

[[4]]$name
[1] "tim"

[[4]]$age
[1] 39

[[4]]$salary
[1] 98000

Task 4 Solution:

In [48]:
energyData=read.csv(file="./data/EnergyMixGeoClust.csv", header=TRUE, sep=",",row.names=1)
numObs<-dim(energyData)[1]
numFeats<-dim(energyData)[2]
cat("Number of observations: ",numObs)
cat("\nNumber of features: ",numFeats)

Number of observations:  65
Number of features:  11

In [49]:
sortEnergyData<-energyData[order(energyData$Coal),]
sortEnergyData

    Country              Oil   Gas   Coal   Nuclear Hydro Total2009 CO2Emm
7   Ecuador                9.9   0.4 0.0     0.0     2.1   12.4      31.3
9   Venezuela             27.4  26.8 0.0     0.0    19.5   73.6     147.0
11  Azerbaijan             2.8   6.9 0.0     0.0     0.5   10.2      24.8
12  Belarus                9.3  14.5 0.0     0.0     0.0   23.9      62.9
38  Turkmenistan           5.2  17.8 0.0     0.0     0.0   23.0      57.9
43  Kuwait                19.2  12.1 0.0     0.0     0.0   31.3      87.2
44  Qatar                  8.2  19.0 0.0     0.0     0.0   27.2      69.8
45  Saudi_Arabia         121.8  69.7 0.0     0.0     0.0  191.5     537.6
46  United_Arab_Emirates  21.8  53.2 0.0     0.0     0.0   75.0     191.9
61  Singapore             52.1   8.7 0.0     0.0     0.0   60.8     180.2
22  Iceland                1.0   0.0 0.1     0.0     2.8    3.9       3.5
36  Switzerland           12.3   2.7 0.1     6.2     8.1   29.4      44.5
26  Lithuania              2.9   2.5 0.2     2.5     0.3    8.2      15.3
28  Norway                 9.7   3.7 0.3     0.0    28.8   42.5      39.9
51  Bangladesh             4.5  17.8 0.4     0.0     0.3   22.9      57.0
8   Peru                   8.5   3.1 0.5     0.0     4.5   16.6      35.5
47  Algeria               14.9  24.0 0.7     0.0     0.1   39.7     104.8
3   Argentina             22.3  38.8 1.1     1.8     9.2   73.3     164.2
48  Egypt                 33.7  38.3 1.1     0.0     3.1   76.3     197.8
23  Republic_of_Ireland    8.0   4.3 1.3     0.0     0.2   13.9      40.1
41  Uzbekistan             4.9  43.9 1.4     0.0     1.4   51.5     123.5
42  Iran                  83.6 118.5 1.4     0.0     1.3  204.8     540.3
35  Sweden                13.7   1.0 1.6    11.9    14.9   43.2      50.9
58  New_Zealand            6.8   3.6 1.7     0.0     5.5   17.6      36.2
10  Austria               13.0   8.4 2.3     0.0     8.3   32.0      68.8
21  Hungary                7.3   9.1 2.5     3.5     0.1   22.4      53.6
6   Colombia               8.8   7.8 3.1     0.0     9.3   29.0      57.9
30  Portugal              12.9   3.9 3.6     0.0     2.0   22.3      62.7
33  Slovakia               3.9   5.1 3.6     3.2     1.1   16.8      38.1
17  Finland                9.9   3.2 3.7     5.4     2.9   25.0      52.5
... ...                  ...   ...   ...    ...     ...   ...       ...
31  Romania                9.9  12.2    6.2   2.7     3.6   34.6      83.7
14  Bulgaria               4.4   2.2    6.3   3.5     0.9   17.4      43.7
2   Mexico                85.6  62.7    6.8   2.2     6.0  163.2     436.8
60  Philippines           12.1   3.0    6.8   0.0     2.2   24.2      71.3
53  China_Hong_Kong_SAR   14.0   2.3    7.6   0.0     0.0   23.9      78.5
20  Greece                20.2   3.0    7.9   0.0     1.6   32.7     100.4
27  Netherlands           49.4  35.0    7.9   1.0     0.0   93.3     265.1
18  France                87.5  38.4   10.1  92.9    13.1  241.9     398.7
34  Spain                 72.9  31.1   10.6  12.0     6.1  132.6     338.7
4   Brazil               104.3  18.3   11.7   2.9    88.5  225.7     409.4
24  Italy                 75.1  64.5   13.4   0.0    10.5  163.4     434.8
64  Thailand              44.2  35.3   14.1   0.0     1.5   95.1     274.4
15  Czech_Republic         9.7   7.4   15.8   6.1     0.7   39.6     109.5
1   Canada                97.0  85.2   26.5  20.3    90.2  319.2     602.7
37  Turkey                28.8  28.9   27.2   0.0     8.1   93.0     264.1
40  United_Kingdom        74.4  77.9   29.7  15.7     1.2  198.9     529.1
55  Indonesia             62.0  33.0   30.5   0.0     2.7  128.2     388.5
25  Kazakhstan            12.0  17.7   33.0   0.0     1.7   64.4     209.2
39  Ukraine               14.1  42.3   35.0  18.6     2.7  112.5     280.8
63  Taiwan                46.6  10.2   38.7   9.4     0.8  105.7     320.3
50  Australia             42.7  23.1   50.8   0.0     2.6  119.2     386.6
29  Poland                25.5  12.3   53.9   0.0     0.7   92.3     320.4
62  South_Korea          104.3  30.4   68.6  33.4     0.7  237.5     663.3
19  Germany              113.9  70.2   71.0  30.5     4.2  289.8     795.6
32  Russian_Federation   124.9 350.7   82.9  37.0    39.8  635.3    1535.3
49  South_Africa          24.3   0.0   99.4   2.7     0.2  126.8     468.6
56  Japan                197.6  78.7  108.8  62.1    16.7  463.9    1222.1
54  India                148.5  46.7  245.8   3.8    24.0  468.9    1539.1
0   US                   842.9 588.7  498.0 190.2    62.2 2182.0    5941.9
52  China                404.6  79.8 1537.4  15.9   139.3 2177.0    7518.5
    Lat        Long        Cluster
7    -1.831239 -78.183406  5
9     6.423750 -66.589730  5
11   40.143105  47.576927  4
12   53.709807  27.953389  4
38   38.969719  59.556278  4
43   29.311660  47.481766  6
44   25.354826  51.183884  4
45   23.885942  45.079162  6
46   23.424076  53.847818  4
61    1.352083 103.819836  6
22   64.963051 -19.020835  1
36   46.818188   8.227512  1
26   55.169438  23.881275  3
28   60.472024   8.468946  1
51   23.684994  90.356331  4
8    -9.189967 -75.015152  5
47   28.033886   1.659626  4
3   -38.416097 -63.616672  4
48   26.820553  30.802498  4
23   53.412910  -8.243890  6
41   41.377491  64.585262  4
42   32.427908  53.688046  4
35   60.128161  18.643501  1
58  -40.900557 174.885971  5
10   47.516231  14.550072  5
21   47.162494  19.503304  4
6     4.570868 -74.297333  5
30   39.399872  -8.224454  6
33   48.669026  19.699024  4
17   61.924110  25.748151  6
... ...        ...         ...
31   45.943161   24.966760 4
14   42.733883   25.485830 2
2    23.634501 -102.552784 6
60   12.879721  121.774017 6
53   22.287170  114.150969 6
20   39.074208   21.824312 6
27   52.132633    5.291266 6
18   46.227638    2.213749 3
34   40.463667   -3.749220 6
4   -14.235004  -51.925280 5
24   41.871940   12.567380 6
64   15.870032  100.992541 6
15   49.817492   15.472962 2
1    56.130366 -106.346771 5
37   38.963745   35.243322 2
40   55.378051   -3.435973 4
55   -0.789275  113.921327 6
25   48.019573   66.923684 2
39   48.379433   31.165580 4
63   23.697810  120.960515 6
50  -25.274398  133.775136 2
29   51.919438   19.145136 2
62   35.907757  127.766922 6
19   51.165691   10.451526 6
32   61.524010  105.318756 4
49  -30.559482   22.937506 2
56   36.204824  138.252924 6
54   20.593684   78.962880 2
0    37.090240  -95.712891 6
52   35.861660  104.195397 2

In [50]:
sortEnergyDataRed<-sortEnergyData[1:(numObs-4),]
sortEnergyDataRed
dim(sortEnergyDataRed)

    Country              Oil   Gas   Coal Nuclear Hydro Total2009 CO2Emm
7   Ecuador                9.9   0.4 0.0   0.0     2.1   12.4      31.3
9   Venezuela             27.4  26.8 0.0   0.0    19.5   73.6     147.0
11  Azerbaijan             2.8   6.9 0.0   0.0     0.5   10.2      24.8
12  Belarus                9.3  14.5 0.0   0.0     0.0   23.9      62.9
38  Turkmenistan           5.2  17.8 0.0   0.0     0.0   23.0      57.9
43  Kuwait                19.2  12.1 0.0   0.0     0.0   31.3      87.2
44  Qatar                  8.2  19.0 0.0   0.0     0.0   27.2      69.8
45  Saudi_Arabia         121.8  69.7 0.0   0.0     0.0  191.5     537.6
46  United_Arab_Emirates  21.8  53.2 0.0   0.0     0.0   75.0     191.9
61  Singapore             52.1   8.7 0.0   0.0     0.0   60.8     180.2
22  Iceland                1.0   0.0 0.1   0.0     2.8    3.9       3.5
36  Switzerland           12.3   2.7 0.1   6.2     8.1   29.4      44.5
26  Lithuania              2.9   2.5 0.2   2.5     0.3    8.2      15.3
28  Norway                 9.7   3.7 0.3   0.0    28.8   42.5      39.9
51  Bangladesh             4.5  17.8 0.4   0.0     0.3   22.9      57.0
8   Peru                   8.5   3.1 0.5   0.0     4.5   16.6      35.5
47  Algeria               14.9  24.0 0.7   0.0     0.1   39.7     104.8
3   Argentina             22.3  38.8 1.1   1.8     9.2   73.3     164.2
48  Egypt                 33.7  38.3 1.1   0.0     3.1   76.3     197.8
23  Republic_of_Ireland    8.0   4.3 1.3   0.0     0.2   13.9      40.1
41  Uzbekistan             4.9  43.9 1.4   0.0     1.4   51.5     123.5
42  Iran                  83.6 118.5 1.4   0.0     1.3  204.8     540.3
35  Sweden                13.7   1.0 1.6  11.9    14.9   43.2      50.9
58  New_Zealand            6.8   3.6 1.7   0.0     5.5   17.6      36.2
10  Austria               13.0   8.4 2.3   0.0     8.3   32.0      68.8
21  Hungary                7.3   9.1 2.5   3.5     0.1   22.4      53.6
6   Colombia               8.8   7.8 3.1   0.0     9.3   29.0      57.9
30  Portugal              12.9   3.9 3.6   0.0     2.0   22.3      62.7
33  Slovakia               3.9   5.1 3.6   3.2     1.1   16.8      38.1
17  Finland                9.9   3.2 3.7   5.4     2.9   25.0      52.5
... ...                  ...   ...   ...  ...     ...   ...       ...
57  Malaysia              21.4  28.3  4.0  0.0     2.0   55.7      148.0
5   Chile                 15.4   3.0  4.1  0.0     5.6   28.1       70.3
59  Pakistan              20.6  34.1  4.3  0.6     6.2   65.8      160.4
13  Belgium               38.5  15.6  4.6 10.7     0.1   69.4      172.8
31  Romania                9.9  12.2  6.2  2.7     3.6   34.6       83.7
14  Bulgaria               4.4   2.2  6.3  3.5     0.9   17.4       43.7
2   Mexico                85.6  62.7  6.8  2.2     6.0  163.2      436.8
60  Philippines           12.1   3.0  6.8  0.0     2.2   24.2       71.3
53  China_Hong_Kong_SAR   14.0   2.3  7.6  0.0     0.0   23.9       78.5
20  Greece                20.2   3.0  7.9  0.0     1.6   32.7      100.4
27  Netherlands           49.4  35.0  7.9  1.0     0.0   93.3      265.1
18  France                87.5  38.4 10.1 92.9    13.1  241.9      398.7
34  Spain                 72.9  31.1 10.6 12.0     6.1  132.6      338.7
4   Brazil               104.3  18.3 11.7  2.9    88.5  225.7      409.4
24  Italy                 75.1  64.5 13.4  0.0    10.5  163.4      434.8
64  Thailand              44.2  35.3 14.1  0.0     1.5   95.1      274.4
15  Czech_Republic         9.7   7.4 15.8  6.1     0.7   39.6      109.5
1   Canada                97.0  85.2 26.5 20.3    90.2  319.2      602.7
37  Turkey                28.8  28.9 27.2  0.0     8.1   93.0      264.1
40  United_Kingdom        74.4  77.9 29.7 15.7     1.2  198.9      529.1
55  Indonesia             62.0  33.0 30.5  0.0     2.7  128.2      388.5
25  Kazakhstan            12.0  17.7 33.0  0.0     1.7   64.4      209.2
39  Ukraine               14.1  42.3 35.0 18.6     2.7  112.5      280.8
63  Taiwan                46.6  10.2 38.7  9.4     0.8  105.7      320.3
50  Australia             42.7  23.1 50.8  0.0     2.6  119.2      386.6
29  Poland                25.5  12.3 53.9  0.0     0.7   92.3      320.4
62  South_Korea          104.3  30.4 68.6 33.4     0.7  237.5      663.3
19  Germany              113.9  70.2 71.0 30.5     4.2  289.8      795.6
32  Russian_Federation   124.9 350.7 82.9 37.0    39.8  635.3     1535.3
49  South_Africa          24.3   0.0 99.4  2.7     0.2  126.8      468.6
    Lat        Long        Cluster
7    -1.831239 -78.183406  5
9     6.423750 -66.589730  5
11   40.143105  47.576927  4
12   53.709807  27.953389  4
38   38.969719  59.556278  4
43   29.311660  47.481766  6
44   25.354826  51.183884  4
45   23.885942  45.079162  6
46   23.424076  53.847818  4
61    1.352083 103.819836  6
22   64.963051 -19.020835  1
36   46.818188   8.227512  1
26   55.169438  23.881275  3
28   60.472024   8.468946  1
51   23.684994  90.356331  4
8    -9.189967 -75.015152  5
47   28.033886   1.659626  4
3   -38.416097 -63.616672  4
48   26.820553  30.802498  4
23   53.412910  -8.243890  6
41   41.377491  64.585262  4
42   32.427908  53.688046  4
35   60.128161  18.643501  1
58  -40.900557 174.885971  5
10   47.516231  14.550072  5
21   47.162494  19.503304  4
6     4.570868 -74.297333  5
30   39.399872  -8.224454  6
33   48.669026  19.699024  4
17   61.924110  25.748151  6
... ...        ...         ...
57    4.210484  101.975766 4
5   -35.675147  -71.542969 5
59   30.375321   69.345116 4
13   50.503887    4.469936 6
31   45.943161   24.966760 4
14   42.733883   25.485830 2
2    23.634501 -102.552784 6
60   12.879721  121.774017 6
53   22.287170  114.150969 6
20   39.074208   21.824312 6
27   52.132633    5.291266 6
18   46.227638    2.213749 3
34   40.463667   -3.749220 6
4   -14.235004  -51.925280 5
24   41.871940   12.567380 6
64   15.870032  100.992541 6
15   49.817492   15.472962 2
1    56.130366 -106.346771 5
37   38.963745   35.243322 2
40   55.378051   -3.435973 4
55   -0.789275  113.921327 6
25   48.019573   66.923684 2
39   48.379433   31.165580 4
63   23.697810  120.960515 6
50  -25.274398  133.775136 2
29   51.919438   19.145136 2
62   35.907757  127.766922 6
19   51.165691   10.451526 6
32   61.524010  105.318756 4
49  -30.559482   22.937506 2

[1] 61 11

In [52]:
cat("Mean value of coal consumption all: ",mean(sortEnergyData$Coal))
cat("\nMean value of coal consumption reduced: ",mean(sortEnergyDataRed$Coal))

Mean value of coal consumption all:  49.44769
Mean value of coal consumption reduced:  13.50984

In [53]:
cat("Median value of coal consumption all: ",median(sortEnergyData$Coal))
cat("\nMedian value of coal consumption reduced: ",median(sortEnergyDataRed$Coal))

Median value of coal consumption all:  4.1
Median value of coal consumption reduced:  4

As can be seen in this experiment, the median is a much more robust statistic than the arithmetic mean value.

### Next Task

In [8]:
shop1Sales<-c(235000,278234,567890,456890,345123,398000)
shop2Sales<-c(335300,468000,588810,745895,666123,503980)

In [16]:
salesList<-list(shop1=shop1Sales,shop2=shop2Sales)
salesList

$shop1
[1] 235000 278234 567890 456890 345123 398000

$shop2
[1] 335300 468000 588810 745895 666123 503980

In [17]:
salesDF<-stack(salesList)
salesDF

   values ind
1  235000 shop1
2  278234 shop1
3  567890 shop1
4  456890 shop1
5  345123 shop1
6  398000 shop1
7  335300 shop2
8  468000 shop2
9  588810 shop2
10 745895 shop2
11 666123 shop2
12 503980 shop2

In [37]:
table(salesDF)

        ind
values   shop1 shop2
  235000     1     0
  278234     1     0
  335300     0     1
  345123     1     0
  398000     1     0
  456890     1     0
  468000     0     1
  503980     0     1
  567890     1     0
  588810     0     1
  666123     0     1
  745895     0     1

In [34]:
class(sales)
class(sales['values'])

[1] "data.frame"

[1] "data.frame"

In [35]:
aov(values ~ ind, data = sales)

Warning message in mean.default(values ~ ind, data = sales):
"argument is not numeric or logical: returning NA"

[1] NA