# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Basic-Data-Types,-Operations-and-Functions" data-toc-modified-id="Basic-Data-Types,-Operations-and-Functions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic Data Types, Operations and Functions</a></div><div class="lev2 toc-item"><a href="#Simple-Operations-and-functions:-Using-R-as-a-calculator" data-toc-modified-id="Simple-Operations-and-functions:-Using-R-as-a-calculator-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Simple Operations and functions: Using R as a calculator</a></div><div class="lev3 toc-item"><a href="#Arithmetic-Operations" data-toc-modified-id="Arithmetic-Operations-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Arithmetic Operations</a></div><div class="lev3 toc-item"><a href="#Common-functions" data-toc-modified-id="Common-functions-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Common functions</a></div><div class="lev3 toc-item"><a href="#Logic-Operators" data-toc-modified-id="Logic-Operators-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Logic Operators</a></div><div class="lev2 toc-item"><a href="#Vectors" data-toc-modified-id="Vectors-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Vectors</a></div><div class="lev3 toc-item"><a href="#Assign-values-to-variables" data-toc-modified-id="Assign-values-to-variables-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Assign values to variables</a></div><div class="lev3 toc-item"><a href="#Access-variable-values" data-toc-modified-id="Access-variable-values-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Access variable values</a></div><div class="lev3 toc-item"><a href="#More-on-vectors" data-toc-modified-id="More-on-vectors-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>More on vectors</a></div><div class="lev3 toc-item"><a href="#Simple-operations-on-vectors" data-toc-modified-id="Simple-operations-on-vectors-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Simple operations on vectors</a></div>

[Back to course overview](../CourseOverviewR.ipynb)

# Basic Data Types, Operations and Functions
* Author: Johannes Maucher
* Last Update: 2017-02-02

## Simple Operations and functions: Using R as a calculator

### Arithmetic Operations
Addition, Subtraction, Multiplication and Division

In [1]:
10+56 #Addition
7-19  #Subtraction
3*9   #Multiplication 
4/7   #Division

[1] 66

[1] -12

[1] 27

[1] 0.5714286

Exponentiation

In [2]:
2**5
3^2
exp(1)

[1] 32

[1] 9

[1] 2.718282

Modulo and Integer Division

In [4]:
7%%4
7%/%4

[1] 3

[1] 1

Squareroot

### Common functions

In [5]:
sqrt(25)

[1] 5

Natural Logarithm

In [6]:
log(10)

[1] 2.302585

Logarithm to basis 2

In [7]:
log2(32)

[1] 5

Logarithm to basis 10

In [8]:
log10(10000)

[1] 4

Trigonometric functions

In [9]:
sin(pi/2)
cos(pi/4)
tan(pi/4)

[1] 1

[1] 0.7071068

[1] 1

In [10]:
asin(1)
acos(sqrt(2)/2)
atan(1)

[1] 1.570796

[1] 0.7853982

[1] 0.7853982

### Logic Operators

In [11]:
4<3
4<=4
4>3
4>=5

[1] FALSE

[1] TRUE

[1] TRUE

[1] FALSE

In [12]:
!4>=5
4>3 | 3>4
4>3 & 3>4

[1] TRUE

[1] TRUE

[1] FALSE

## Vectors
In R a vector is a sequence of elements. All elements must be of the same basic type. The elements of a vector are called *components*.

### Assign values to variables

Enter the code below in a R-console, e.g. in R-studio. 

Q: What is the difference in the output, compared to the output in the jupyter notebook?

Q: What is the difference between applying  <- and = for variable assignment?

Assign single numeric value to variable

In [13]:
u<-5
v=7
w=u+v

Assign multiple numeric values to a variable

In [14]:
x=1:7

Assign boolean value to variable

In [15]:
A=5<4

Assign sequence of characters to variable

In [16]:
s <- "some characters"

### Access variable values

In [17]:
A
s
u
v
w
x
x[1]
x[3:5]
x[-1]
x[-3]

[1] FALSE

[1] "some characters"

[1] 5

[1] 7

[1] 12

[1] 1 2 3 4 5 6 7

[1] 1

[1] 3 4 5

[1] 2 3 4 5 6 7

[1] 1 2 4 5 6 7

Q: What is the output of the following two lines in the R-console?

In [18]:
u[0]
x[0]
A[0]
s[0]

numeric(0)

integer(0)

logical(0)

character(0)

In [19]:
print("Hello World")

[1] "Hello World"

In [20]:
print(u[0])
print(x[0])
print(A[0])
print(s[0])

numeric(0)
integer(0)
logical(0)
character(0)

In [21]:
class(u)

[1] "numeric"

In [22]:
class(x)

[1] "integer"

In [23]:
class(A)

[1] "logical"

In [24]:
class(s)

[1] "character"

### More on vectors

In [25]:
z <- numeric(7)
print(z)

[1] 0 0 0 0 0 0 0

General vectors are created using the combine function *c( )*.

In [26]:
y <- c(100,200,50,-10)
y

[1] 100 200  50 -10

In [27]:
z <- c("last","in","first","out")
z

[1] "last"  "in"    "first" "out"

In [28]:
class(z)
class(z[0])

[1] "character"

[1] "character"

In [29]:
customer <- c(37,61000,250000,70000)

Assign names to vector components

In [30]:
featureNames <- c("age","income","capital","credit")

In [31]:
names(customer) <- featureNames
customer

    age  income capital  credit
     37   61000  250000   70000

Access vector components by name

In [32]:
customer[c("age","credit")]

   age credit
    37  70000

In [33]:
rel <- c(FALSE,TRUE,TRUE,FALSE)
customer[rel]

 income capital
  61000  250000

A vector can contain elements of different type

In [34]:
mix <- c(1,6,8,TRUE,"word")
mix

[1] "1"    "6"    "8"    "TRUE" "word"

### Simple operations on vectors

In [35]:
a <- c(3,9,18)
f <- c(1/3,2/3,5/3)
r=a*f
r

[1]  1  6 30

In [36]:
t=a+r
t

[1]  4 15 48

In [37]:
all=sum(t)
all

[1] 67